/*
    Assignment 2020/2021
    Course:         AACS1483 - Web Design and Development
    Website Name:   Lo'vest 69 Restaurant
    Author:         Lee Seng Wai
    Filename:       about-us.css

    Function:   Style for about-us page.
*/

/* [ Default Background ] */
body {
    background-image: url("pics/background1.jpg");
}


/* [ Default white semi-transparent bg ] */
#content {
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 8%;
    height: 1000px;
    background-color: rgba(255, 255, 255, 0.5);
}

.homeTitle {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 80px;
    color: rgb(69, 69, 69);
}

.homeTitle h2 {
    font-size: 50px;
}

.homeTitle p {
    font-size: 30px;
}

.gallery, .contact {
    font-family: Impact, Charcoal, sans-serif;
}

.custome {
    position : relative;
    background-color: rgb(182, 181, 181);
    border: none;
    padding: 25px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 40px;
    font-size : 40px;
    font-weight : 700;
    z-index : 3;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}