/*
    Assignment 2020/2021
    Course:         AACS1483 - Web Design and Development
    Website Name:   Lo'vest 69 Restaurant
    Author:         Thong So Xue
    Filename:       menu-s1.css

    Function:   Styles for the slide1 section in the menu.html page. 
*/



/*==================== Overall Page Styles ====================*/

#slide1:before, #slide2:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.9;
    z-index: -1;
}



/*==================== Slide 1 Overall Styles ====================*/

#slide1:before {
    background-image: url("pics/menu/menu-slide1-bg.jpg");
}

#slide1, #slide2 {
    position: relative;
    z-index: 0;
    height: 100vh;
}

#slide1 {
    top: 0px;
    padding-top: 70px;
}



/*==================== "MENU" Title Button Styles ====================*/

#slide1-text {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

#slide1-text a{
    position: block;
    background-color: white;
    color: black;
    font-size: 6vw; 
    font-weight: bold;
    margin: 0 auto;
    padding: 1vw;
    width: 35%;
    text-align: center;
    mix-blend-mode: screen;
    text-decoration: none;
    transition: 0.5s;
}

#slide1-text a:hover{
    transform: scale(1.05);
    transition: 0.5s;
}



/*==================== "Search for a Dish..." Search Bar Styles ====================*/

#searchDishField {
    position: relative;
    margin-top: 1vw;
    display: block;
    background: transparent;
    width: 35%;
    color: rgba(255, 255, 255, 1);
    font-size: 1.5vw;
    border: none;
    text-align: center;
    border-bottom: 0.3vw solid rgba(69, 69, 69, 0.5);
    transition: 0.45s;
}

#searchDishField::placeholder {
    color: white;
    transition: 0.45s;
}

#searchDishField:focus {
    outline: none;
    border-bottom: 0.3vw solid rgba(255, 255, 255, 0.8);
    transition: 0.3s;
    background: rgba(69, 69, 69, 0.2);
    box-shadow: rgba(69, 69, 69, 0.4) 0px 0px 20px;
}

#searchDishField:focus::placeholder {
    color: rgba(255, 255, 255, 0);
    transition: 0.3s;
}